* {
	text-align: left;
	margin: 20px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #FAFAFA;
	color: #6A6A6A;
}

table {
	border-collapse: collapse;
}

td {	
	border: 1px solid #6a6a6a;
}

.days {
	background-color: #edf0f2;
	color: #ff6d00;
}